<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">DotA 2 Analyzer.com</a>
            <img src="/assets/images/dotalogo.png" width="50">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="home">Home</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>DotA 2 Analyzer</h1>
            <h2>What is DotA 2 Analyzer?</h2>
            DotA 2 Analyzer calculates, which hero picks might be good choice against the enemy picks. The tool also calculates the best choices for the enemy team, so that you can react by banning those heroes in Captains Mode.
            <br><br>
            <h2>Calculations</h2>
            The calculations are based on Dotabuff advantage data. They does neither include hero synergies nor the distribution of the hero roles. It only examines the enemy picks. To mark heroes, that you or your friends might want to play, you can create an account and add players to this account. You can choose a hero pool for each player within your account, which will be saved in our database. Whenever you login, you can select the players you are playing with and heroes will be marked with different colors to give you an easy overview. The DotA 2 Analyzer also calculates an overall advantage of both teams concerning the current picks of both teams.
            <br><br>
            <h2>Implementation</h2>
            <h3>Frontend</h3>
            The old DotA 2 Analyzer was designed with ASP.Net C#. It was created within 2 weeks during semester break. The performance wasn't rellay great, also it didn't support any kind of asynchronous data transfer.<br>
            The new Frontend uses modern technology:
            <ul>
                <li>HTML5</li>
                <li>JavaScript (Framework: AngularJS)</li>
                <li>CSS (Bootstrap)</li>
            </ul>
            <br>
            <h3>Backend</h3>
            The Backend is structed as follows:<br>
            <strong>DotA 2 Updater:</strong><br>
            The DotA 2 Updater is fetchting data from dotabuff.com and updates the SQL-database. The DotA 2 Updater is written in C#.<br><br>
            <strong>DotA 2 Analyzer REST API</strong><br>
            DotA 2 Analyzer REST API is written in Java and uses the JAX-RS specification and Jersey framework. For simplicity, the API only supports JSON format.
            <br><br>
            <h3>Open source</h3>
            You can find the DotA 2 Analyzer Frontend on github:<br>
            <a href="https://github.com/danielbeicht/DotA2-Analyzer" target="_blank">
                <!--suppress CheckImageSize -->
                <img src="assets/images/GitHub_Logo.png" alt="Github" width="300"><br>
            </a>
            <a href="https://github.com/danielbeicht/DotA2-Analyzer" target="_blank">https://github.com/danielbeicht/DotA2-Analyzer</a>
            <br><br>
            <h2>Changelog</h2>
            <h3>Version: 0.17 Alpha (31.04.2016)</h3>
            - outsourced loading screen<br>
            - implemented "Reload data"-button
            <h3>Version: 0.16 Alpha (30.04.2016)</h3>
            - you can now unpick heroes by clicking the hero in the hero-table<br>
            - UI improvements
            <h3>Version: 0.15 Alpha (08.02.2016)</h3>
            - already picked heroes are now shown in the hero-tables<br>
            - the table row of already picked heroes is now colored black
            <h3>Versio: 0.14 Alpha (26.01.2016)</h3>
            - implemented 'Reset data' button
            <h3>Version: 0.13 Alpha (23.01.2016)</h3>
            - implemented option to swap tables
            <h3>Version: 0.12 Alpha (21.01.2016)</h3>
            - implemented loading screen while fetching data from REST-API
            - code improvements
            <h3>Version: 0.11 Alpha (20.01.2016)</h3>
            - the website now uses Piwik, a web analytics open source software
            <h3>Version: 0.10 Alpha (19.01.2016)</h3>
            - removed debug-function button<br>
            - implemented graphic hero ban by clicking on unselected hero ban images
            <h3>Version: 0.09 Alpha (18.01.2016)</h3>
            - implemented "About" Page <br>
            - fixed wrong ui-bar calculations <br>
            - performance improvements <br>

        </div>
    </div>
</div>