<div class="container" style="margin-top: 20px   ">
    <div class="row">
        <div class="col-md-12">
            <center><b>The last {{ matchesWon + matchesLost }} matches DotA-Analyzer was correct <span style="color: #00A000">{{ matchesWon }}</span> times. This corresponds to an unanimity of approximately {{ ((matchesWon / (matchesWon+matchesLost)) * 100).toFixed(2)}}%.</b></center><br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Hero</th>
                    <th>Result</th>
                    <th>Analyzer Advantage</th>
                    <th><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Dotabuff/Yasp Link</th>
                </tr>
                </thead>
                <tr ng-repeat="x in tableMatches | orderBy:'-starttime'">
                    <td>{{ x.date }}</td>
                    <td><img ng-src="{{ x.heroImageURL }}" style="width: 48px; height: 29px"> {{ x.firstPlayerHero }}</td>
                    <td>
                        <span ng-if="x.firstPlayerWin" class="label label-success">Won Match</span>
                        <span ng-if="!x.firstPlayerWin" class="label label-danger">Lost Match</span>
                    </td>
                    <td>
                        <uib-progress>
                            <uib-bar style="background:rgba(245, 245, 245, 1)" ng-repeat="bar in x.stacked track by $index" ng-if="bar.isPlaceholder" value="bar.value"><span></span></uib-bar>
                            <uib-bar ng-attr-id="{{ 'progressValue' + x.matchID }}" ng-repeat="bar in x.stacked track by $index" ng-if="!bar.isPlaceholder" value="bar.value" type="{{ analyzerService.changeProgressbarColor(bar, x.matchID, bar.isYourTeam) }}"><span ng-show="analyzerService.isPositive(bar)" style="color: black">{{bar.adv}}</span><span ng-show="!analyzerService.isPositive(bar)" style="color: black">-{{bar.adv}}</span></uib-bar>
                        </uib-progress>
                    </td>
                    <td><a ng-href="https://www.dotabuff.com/matches/{{x.matchID}}" target="_blank">DB</a> / <a ng-href="https://www.opendota.com/matches/{{x.matchID}}" target="_blank">Opendota</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>