<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">DotA 2 Analyzer.com</a>
            <img src="/assets/images/dotalogo.png" width="50">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="home">Home</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="about">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active" ng-show="loggedIn">
                    <a ui-sref="lastmatches">Last matches</a>
                </li>
                <li ui-sref-active="active" ng-hide="loggedIn">
                    <a href="auth/steam">
                        <img src="/assets/images/sits_small.png" ></a>
                </li>
                <li class="dropdown" ng-show="loggedIn"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logged in as {{username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-click="logout()"><a href="#" ><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Hero</th>
                    <th>Result</th>
                    <th>Analyzer Advantage</th>
                    <th><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Dotabuff/Yasp Link</th>
                </tr>
                </thead>
                <tr ng-repeat="x in tableMatches track by $index">
                    <td>{{ x.firstPlayerHero }}</td>
                    <td>{{ getWinString(x.firstPlayerWin); }}</td>
                    <td>To be calculated</td>
                    <td><a ng-href="http://www.dotabuff.com/matches/{{x.matchID}}" target="_blank">DB</a> / <a ng-href="https://www.yasp.co/matches/{{x.matchID}}" target="_blank">Yasp</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>