<div class="container-fluid">
  <section class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-2 col-md-offset-1 pickBox"><img src="assets/images/hero_unselected.jpg" style="width: 128px; height: 77px"></div>
        <div class="col-md-2 pickBox"><img src="assets/images/hero_unselected.jpg" style="width: 128px; height: 77px"> </div>
        <div class="col-md-2 pickBox"><img src="assets/images/hero_unselected.jpg" style="width: 128px; height: 77px"></div>
        <div class="col-md-2 pickBox"><img src="assets/images/hero_unselected.jpg" style="width: 128px; height: 77px"></div>
        <div class="col-md-2 pickBox"><img src="assets/images/hero_unselected.jpg" style="width: 128px; height: 77px"></div>
      </div>
    </div>
    <div class="col-md-2"><h1 style="color:red" class="text-center">VS</h1></div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-2 pickBox"></div>
        <div class="col-md-2 pickBox"></div>
        <div class="col-md-2 pickBox"></div>
        <div class="col-md-2 pickBox"></div>
        <div class="col-md-2 pickBox"></div>
      </div>
    </div>
  </section><!--pick hero section-->

  <section class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-4">
          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search Hero"
                       ng-model="searchHeroYourTeam">
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <select id="dropDownPickYourTeam" class="form-control" ng-model="selectedHeroYourTeam"
                  ng-options="obj.hero.heldIndex as obj.hero.heldFullName for obj in yourTeamHeroData | orderBy:'hero.heldFullName'">
            <option value="">Select hero</option>
          </select>
        </div>
        <!--<p>$scope.list_category: {{list_category}}<p>-->
        <div class="col-md-4">
          <button class="btn btn-success" ng-click="">
            Placeholder Add Hero
          </button>
        </div>
      </div>
      <table class="table table-bordered table-striped">

        <thead>
        <tr>
          <td><a></a></td>
          <td><a>Ranking</a></td>
          <td>
            <a href="#"
               ng-click="sortTypeYourTeam = 'hero.heldFullName'; sortReverseYourTeam = !sortReverseYourTeam">
              Hero Name
                            <span ng-show="sortTypeYourTeam == 'hero.heldFullName' && !sortReverseYourTeam"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeYourTeam == 'hero.heldFullName' && sortReverseYourTeam"
                                  class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortTypeYourTeam = 'winrate'; sortReverseYourTeam = !sortReverseYourTeam">
              Winrate
                            <span ng-show="sortTypeYourTeam == 'winrate' && !sortReverseYourTeam"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeYourTeam == 'winrate' && sortReverseYourTeam"
                                  class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#"
               ng-click="sortTypeYourTeam = 'normalizedAdvantage'; sortReverseYourTeam = !sortReverseYourTeam">
              Normalized Advantage
                            <span ng-show="sortTypeYourTeam == 'normalizedAdvantage' && !sortReverseYourTeam"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeYourTeam == 'normalizedAdvantage' && sortReverseYourTeam"
                                  class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#"
               ng-click="sortTypeYourTeam = 'advantage'; sortReverseYourTeam = !sortReverseYourTeam">
              Advantage
                            <span ng-show="sortTypeYourTeam == 'advantage' && !sortReverseYourTeam"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeYourTeam == 'advantage' && sortReverseYourTeam"
                                  class="fa fa-caret-up"></span>
            </a>
          </td>
        </tr>
        </thead>

        <tbody><!-- | filter:searchHero-->
        <tr ng-repeat="hero in yourTeamHeroData | orderBy:sortTypeYourTeam:sortReverseYourTeam">
          <td ng-show="([hero.hero] | filter:searchHeroYourTeam).length > 0"><img src="{{ hero.pic }}"
                                                                                  style="width: 128px; height: 77px">
          </td>
          <td ng-show="([hero.hero] | filter:searchHeroYourTeam).length > 0">{{ $index + 1 }}</td>
          <td ng-show="([hero.hero] | filter:searchHeroYourTeam).length > 0">{{ hero.hero.heldFullName }}</td>
          <td ng-show="([hero.hero] | filter:searchHeroYourTeam).length > 0">{{ hero.winrate }}</td>
          <td ng-show="([hero.hero] | filter:searchHeroYourTeam).length > 0">{{ hero.normalizedAdvantage }}
          </td>
          <td ng-show="([hero.hero] | filter:searchHeroYourTeam).length > 0">{{ hero.advantage }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2 pickBox">
      some feature here??
      <ul ng-repeat="row in heroes" class="list-unstyled">
        <li>&nbsp;</li>
      </ul>
      <ul ng-repeat="row in heroes" class="list-unstyled">
        <li>&nbsp;</li>
      </ul>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-4">
          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search Hero"
                       ng-model="searchHeroEnemyTeam">
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <select id="dropDownPickEnemyTeam" class="form-control" ng-model="selectedHeroYourTeam"
                  ng-options="obj.hero.heldIndex as obj.hero.heldFullName for obj in enemyTeamHeroData | orderBy:'hero.heldFullName'">
            <option value="">Select hero</option>
          </select>
        </div>
        <!--<p>$scope.list_category: {{list_category}}<p>-->
        <div class="col-md-4">
          <button class="btn btn-success" ng-click="">
            Placeholder Add Hero
          </button>
        </div>
      </div>

      <table class="table table-bordered table-striped">

        <thead>
        <tr>
          <td><a></a></td>
          <td>
            <a>
              Ranking
                            <span ng-show="sortTypeEnemyTeam == 'ranking' && !sortReverseEnemyTeam"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeEnemyTeam == 'ranking' && sortReverseEnemyTeam"
                                  class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#"
               ng-click="sortTypeEnemyTeam = 'hero.heldFullName'; sortReverseEnemyTeam = !sortReverseEnemyTeam">
              Hero Name
                            <span ng-show="sortTypeEnemyTeam == 'hero.heldFullName' && !sortReverseEnemyTeam"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeEnemyTeam == 'hero.heldFullName' && sortReverseEnemyTeam"
                                  class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortTypeEnemyTeam = 'winrate'; sortReverse = !sortReverseEnemyTeam">
              Winrate
                            <span ng-show="sortTypeEnemyTeam == 'winrate' && !sortReverseEnemyTeam"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeEnemyTeam == 'winrate' && sortReverseEnemyTeam"
                                  class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#"
               ng-click="sortTypeEnemyTeam = 'normalizedAdvantage'; sortReverseEnemyTeam = !sortReverse">
              Normalized Advantage
                            <span ng-show="sortTypeEnemyTeam == 'normalizedAdvantage' && !sortReverseEnemyTeam"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeEnemyTeam == 'normalizedAdvantage' && sortReverseEnemyTeam"
                                  class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortTypeEnemyTeam = 'advantage'; sortReverse = !sortReverseEnemyTeam">
              Advantage
                            <span ng-show="sortTypeEnemyTeam == 'advantage' && !sortReverseEnemyTeam"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortTypeEnemyTeam == 'advantage' && sortReverseEnemyTeam"
                                  class="fa fa-caret-up"></span>
            </a>
          </td>
        </tr>
        </thead>

        <tbody><!-- | filter:searchHero-->
        <tr ng-repeat="hero in enemyTeamHeroData | orderBy:sortTypeEnemyTeam:sortReverseEnemyTeam">
          <td ng-show="([hero.hero] | filter:searchHeroEnemyTeam).length > 0"><img src="{{ hero.pic }}"
                                                                                   style="width: 128px; height: 77px">
          </td>
          <td ng-show="([hero.hero] | filter:searchHeroEnemyTeam).length > 0">{{ $index + 1 }}</td>
          <td ng-show="([hero.hero] | filter:searchHeroEnemyTeam).length > 0">{{ hero.hero.heldFullName }}</td>
          <td ng-show="([hero.hero] | filter:searchHeroEnemyTeam).length > 0">{{ hero.winrate }}</td>
          <td ng-show="([hero.hero] | filter:searchHeroEnemyTeam).length > 0">{{ hero.normalizedAdvantage }}
          </td>
          <td ng-show="([hero.hero] | filter:searchHeroEnemyTeam).length > 0">{{ hero.advantage }}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </section><!-- hero table section-->

  <p class="errMsg"> {{ serverErrRes }} </p>

</div>