<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 pickBox">
            Pics here<br>
            ics here<br>
            ics here<br>
            ics here<br>
            Pics here<br>
            ics here<br>
            ics here<br>
            ics here<br>
        </div>
        <div class="col-md-2">
            <br>
            <br>

            <h1 style="color:red" class="text-center">VS</h1>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="col-md-5 pickBox">
            Pics here<br>
            ics here<br>
            ics here<br>
            ics here<br>
            Pics here<br>
            ics here<br>
            ics here<br>
            ics here<br>
        </div>
    </div> <!--pick hero section-->

    <div class="row">
        <div class="col-md-5">
            <table st-table="heroes" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="heldFullName"><a href="#">Held name</a></th>
                    <th st-sort="heldID">HeldID</th>
                    <th st-sort="heldIndex">Held Index</th>
                    <th st-sort="heldName">Held Name (dotabuff)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in heroes">
                    <td>{{row.heldFullName}}</td>
                    <td>{{row.heldID}}</td>
                    <td>{{row.heldIndex}}</td>
                    <td>{{row.heldName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2 pickBox">
            some feature here??
            <ul ng-repeat="row in heroes" class="list-unstyled">
                <li>&nbsp;</li>
            </ul>
            <ul ng-repeat="row in heroes" class="list-unstyled">
                <li>&nbsp;</li>
            </ul>
        </div>
        <div class="col-md-5">
            <table st-table="heroes" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="heldFullName"><a href="#">Held name</a></th>
                    <th st-sort="heldID">HeldID</th>
                    <th st-sort="heldIndex">Held Index</th>
                    <th st-sort="heldName">Held Name (dotabuff)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in heroes">
                    <td>{{row.heldFullName}}</td>
                    <td>{{row.heldID}}</td>
                    <td>{{row.heldIndex}}</td>
                    <td>{{row.heldName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- hero table section-->

    <p class="errMsg"> {{ serverErrRes }} </p>
</div>