/* BASIC STYLINGS
============================================================================= */

/* form styling */
#form-container {
  background: #2f2f2f;
  margin-bottom: 20px;
  border-radius: 5px;
}

#form-container .page-header {
  background: #151515;
  margin: 0;
  padding: 30px;
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* numbered buttons */
#status-buttons {
}

#status-buttons a {
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  text-align: center;
  text-transform: uppercase;
}

#status-buttons a:hover {
  text-decoration: none;
}

#status-buttons span {
  background: #080808;
  display: block;
  height: 30px;
  margin: 0 auto 10px;
  padding-top: 5px;
  width: 30px;
  border-radius: 50%;
}

/* active buttons */
#status-buttons a.active span {
  background: #00BC8C;
}

.mainTh {
  min-width: 80px;
}

.sideTh {
  width: 20px;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.modal-header, h4, .close {
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 30px;
}

.modal-footer {
  background-color: #f9f9f9;
}

.modal-header.dangerous, h4.dangerous, .close.dangerous {
  background-color: #d9534f;
}

.errMsg {
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  text-align: center;
}

.noBreak {
  white-space: nowrap;
}

.pickBox {
  width: 96px;
  height: 58px;
  margin-right: 2px;
  margin-bottom: 2px;
}

section {
  margin-bottom: 50px;
}

body {
  background-image: url(//subtlepatterns.com/patterns/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}

.scrollThis {
  width: 500px;
  height: 500px;
  overflow: scroll;
}