.bodyheroes {
    margin:0;
}
.wrapperheroes {
    height:100%;
}

/* grid */

.gridheroes {
    width:100%;
}
.gridheroes .spanheroes {
    /*background:#FFB2B2;*/
    border-right:1em solid #FFFFFF;
    float:left;
    position: relative;
    width:33.33%; /* 3 columns */
}

p.attributes {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}