.redTable {
    color: red;
}

.blackTable {
    color: white;
    background-color: black;
}

td.green {
    background-color: #A5D6A7;
}

td.blue {
    background-color: #90CAF9;
}

td.purple {
    background-color: #CE93D8;
}

td.red {
    background-color: #EF9A9A;
}

td.orange {
    background-color: #E6EE9C;
}

td.multiple {
    background-color: #FFC107;
}


