
.staticBox {
    position: fixed;
    z-index: 1020;
    top: 52px;
    background: #f2f2f2;


}

.textcenter {
    align-items: center;
}



body {
    min-height: 200px;
    padding-top: 52px;
}


/* grid */

.gridMainPage {
    width:100%;
}


.gridMainPage .spanMainPageLeft {
    /*background:#FFB2B2;*/
    border-right:0em solid #FFFFFF;
    float:left;
    width:43.0%; /* 3 columns */
}

.gridMainPage .spanMainPageRight {
    /*background:#FFB2B2;*/
    border-right:0em solid #FFFFFF;

    float:right;
    width:43.0%; /* 3 columns */
}

.gridMainPage .spanMainPageMid {
    /*background:#FFB2B2;*/
    border-right:0em solid #FFFFFF;
    float:left;
    width:14.0%; /* 3 columns */
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}



.img-responsive {
    /* other definitions */
    width:100%;
}

