/*
.staticBox {
    position: fixed;
    top: 64px;
    background: #f2f2f2;
    z-index: 10;
}*/

md-select.green {
    background-color: #A5D6A7;
}

md-select.blue {
    background-color: #90CAF9;
}

md-select.purple {
    background-color: #CE93D8;
}

md-select.red {
    background-color: #EF9A9A;
}

md-select.orange {
    background-color: #E6EE9C;
}







#sticky {
    background: #f2f2f2;
    z-index: 10;
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10;
    border-radius: 0 0 0.5em 0.5em;
}

/*
.content {
    margin-top: 230px;
}*/

/*
.fixed-header {
    position: fixed;
    top: 0
}*/

.spacer
{
    width: 100%;
    height: 70px;
}

.spacer2
{
    width: 100%;
}

.textcenter {
    align-items: center;
}



body {
    min-height: 200px;
    padding-top: 52px;
}


/* grid */

.gridMainPage {
    width:100%;
}


.gridMainPage .spanMainPageLeft {
    /*background:#FFB2B2;*/
    border-right:0em solid #FFFFFF;
    float:left;
    width:42.0%; /* 3 columns */
}

.gridMainPage .spanMainPageRight {
    /*background:#FFB2B2;*/
    border-right:0em solid #FFFFFF;

    float:left;
    width:42.0%; /* 3 columns */

}

.gridMainPage .spanMainPageMid {
    /*background:#FFB2B2;*/
    border-right:0em solid #FFFFFF;
    float:left;
    width:14.0%; /* 3 columns */
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}



.img-responsive {
    /* other definitions */
    width:100%;
}

