<script type="text/ng-template" id="setupAutosyncIDDialog">
    <md-dialog aria-label="Setup Autosync" style="width: 1000px">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Setup Autosync</h2>
                </div>
            </md-toolbar>

            <md-dialog-content style="width: 1000px">
                <br><br>
                <div style="margin-left: 50px">
                    1. Download <a href="assets/data/gamestate_integration_dotaanalyzer.cfg" download>gamestate_integration_dotaanalyzer.cfg</a><br>
                    2. Store the downloaded file at "...\steamapps\common\dota 2 beta\game\dota\cfg\gamestate_integration"<br><br>

                    3. Download and run XXX <br>
                    (You can find the source here: Link)
                </div>


            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="answer('cancel')">
                    Close
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>






<div class="staticBox" id="sticky">
    <div class="gridMainPage">
        <div class="spanMainPageLeft">
            <p style="font-weight: bold;">Radiant Team Picks</p>
            <table>
                <tr>
                    <td
                        ng-show="analyzerService.yourTeamPicks[0] != null"><img
                            ng-src="{{ analyzerService.yourTeamPicks[0].heroImageURL }}"
                            class="img-responsive" max-width="500">
                    </td>
                    <td ng-show="analyzerService.yourTeamPicks[0] == null"><img
                            ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.yourTeamPicks[1] != null"><img
                            ng-src="{{ analyzerService.yourTeamPicks[1].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.yourTeamPicks[1] == null"><img
                            ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.yourTeamPicks[2] != null"><img
                            ng-src="{{ analyzerService.yourTeamPicks[2].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.yourTeamPicks[2] == null"><img
                            ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.yourTeamPicks[3] != null"><img
                            ng-src="{{ analyzerService.yourTeamPicks[3].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.yourTeamPicks[3] == null"><img
                            ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.yourTeamPicks[4] != null"><img
                            ng-src="{{ analyzerService.yourTeamPicks[4].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.yourTeamPicks[4] == null"><img
                            ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                </tr>
            </table>
        </div>
        <div class="spanMainPageMid">

            &nbsp;
        </div>
        <div class="spanMainPageRight">
            <p style="font-weight: bold;">Dire Team Picks</p>
            <table>
                <tr>
                    <td
                        ng-show="analyzerService.enemyTeamPicks[0] != null"><img
                            ng-src="{{ analyzerService.enemyTeamPicks[0].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.enemyTeamPicks[0] == null">
                        <img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.enemyTeamPicks[1] != null"><img
                            ng-src="{{ analyzerService.enemyTeamPicks[1].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.enemyTeamPicks[1] == null">
                        <img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.enemyTeamPicks[2] != null"><img
                            ng-src="{{ analyzerService.enemyTeamPicks[2].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.enemyTeamPicks[2] == null">
                        <img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.enemyTeamPicks[3] != null"><img
                            ng-src="{{ analyzerService.enemyTeamPicks[3].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.enemyTeamPicks[3] == null">
                        <img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.enemyTeamPicks[4] != null"><img
                            ng-src="{{ analyzerService.enemyTeamPicks[4].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.enemyTeamPicks[4] == null">
                        <img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                </tr>
            </table>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>
</div>


<div class="spacer2">&nbsp;</div>

<div class="content" id="contentdiv" style="margin-top: 20px">
    <div class="container">
        <div layout="row">
            <div flex="20"></div>
            <div flex="60">
                <center>Overall Advantage</center>
                <uib-progress>
                    <uib-bar style="background:rgba(245, 245, 245, 1)" ng-repeat="bar in analyzerService.stacked track by $index" ng-if="bar.isPlaceholder" value="bar.value"><span>{{bar.adv}}</span></uib-bar>
                    <uib-bar id="progressValue" ng-repeat="bar in analyzerService.stacked track by $index" ng-if="!bar.isPlaceholder" value="bar.value" type="{{changeProgressbarColor(bar)}}"><span style="color: black">{{bar.adv}}</span></uib-bar>
                </uib-progress>
            </div>
            <div flex="20"></div></div>
    </div>


    <div class="gridMainPage">
        <div class="wrapperMainPages">
            <div class="spanMainPageLeft">
                    <div class="row">
                        <div class="col-sm-8">
                            <md-input-container class="md-block">
                                <label>Search hero</label>
                                <md-icon md-font-icon="fa fa-search"></md-icon>
                                <input ng-model="searchHeroYourTeam">
                            </md-input-container>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped">
                            <caption>Counter picks to dire heroes.</caption>
                            <thead>
                            <tr>
                                <td><a></a></td>
                                <td><a>Rank</a></td>
                                <td>
                                    <a href="#"
                                       ng-click="sortTypeYourTeam = 'heroFullName'; sortReverseYourTeam = !sortReverseYourTeam">
                                        Hero Name
                                        <span ng-show="sortTypeYourTeam == 'heroFullName' && !sortReverseYourTeam"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="sortTypeYourTeam == 'heroFullName' && sortReverseYourTeam"
                                              class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortTypeYourTeam = 'yourTeamWinrate'; sortReverseYourTeam = !sortReverseYourTeam">
                                        Winrate
                                        <span ng-show="sortTypeYourTeam == 'yourTeamWinrate' && !sortReverseYourTeam"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="sortTypeYourTeam == 'yourTeamWinrate' && sortReverseYourTeam"
                                              class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#"
                                       ng-click="sortTypeYourTeam = 'yourTeamAdvantage'; sortReverseYourTeam = !sortReverseYourTeam">
                                        Advantage
                                        <span ng-show="sortTypeYourTeam == 'yourTeamAdvantage' && !sortReverseYourTeam"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="sortTypeYourTeam == 'yourTeamAdvantage' && sortReverseYourTeam"
                                              class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="hero in heroesArray | orderBy:sortTypeYourTeam:sortReverseYourTeam">
                                <td ng-class='testngclass(hero)' ng-show="([hero.heroFullName] | filter:searchHeroYourTeam).length > 0" ng-hide="personalization && playerIsRadiant && !personalizedHeroesContains(hero.heroID)"><img
                                        ng-click="yourTeamHeroClickImage(hero.heroID)" ng-right-click="banHero(hero.heroID)" ng-src="{{ hero.heroImageURL }}"
                                        style="width: 96px; height: 58px"></td>
                                <td ng-class='testngclass(hero)' ng-show="([hero.heroFullName] | filter:searchHeroYourTeam).length > 0" ng-hide="personalization && playerIsRadiant && !personalizedHeroesContains(hero.heroID)">{{ $index + 1 }}</td>
                                <td ng-class='testngclass(hero)' ng-show="([hero.heroFullName] | filter:searchHeroYourTeam).length > 0" ng-hide="personalization && playerIsRadiant && !personalizedHeroesContains(hero.heroID)">{{ hero.heroFullName }}</td>
                                <td ng-class='testngclass(hero)' ng-show="([hero.heroFullName] | filter:searchHeroYourTeam).length > 0" ng-hide="personalization && playerIsRadiant && !personalizedHeroesContains(hero.heroID)">{{ hero.yourTeamWinrate }}%</td>
                                <td ng-class='testngclass(hero)' ng-show="([hero.heroFullName] | filter:searchHeroYourTeam).length > 0" ng-hide="personalization && playerIsRadiant && !personalizedHeroesContains(hero.heroID)">{{ hero.yourTeamAdvantage }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>


            <div class="spanMainPageMid">
                <div style="text-align: center;">
                <br><br><br><br><br><br><br>
                    <md-button md-no-ink class="md-raised md-primary" ng-click="openAutosyncIDDialog()">Setup Autosync</md-button><br><br>


                <md-input-container class="md-block" style="margin-right: 10px; margin-left: 10px">
                    <label>Select Friend Slot #1</label>
                    <md-select class="green" ng-model="datastorage.selectedFriends[0]" ng-change="selectHeroAdd=''">
                        <md-option ng-value="" ><i>Empty</i></md-option>
                        <md-option ng-value="friend" ng-repeat="friend in friendList" ng-selected="preselect(friend, 0)">{{friend.FriendName}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" style="margin-right: 10px; margin-left: 10px">
                    <label>Select Friend Slot #2</label>
                    <md-select class="blue" ng-model="datastorage.selectedFriends[1]" ng-change="selectHeroAdd=''">
                        <md-option ng-value="" ><i>Empty</i></md-option>
                        <md-option ng-value="friend" ng-repeat="friend in friendList" ng-selected="preselect(friend, 1)">{{friend.FriendName}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" style="margin-right: 10px; margin-left: 10px">
                    <label>Select Friend Slot #3</label>
                    <md-select class="purple" ng-model="datastorage.selectedFriends[2]" ng-change="selectHeroAdd=''">
                        <md-option ng-value="" ><i>Empty</i></md-option>
                        <md-option ng-value="friend" ng-repeat="friend in friendList" ng-selected="preselect(friend, 2)">{{friend.FriendName}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" style="margin-right: 10px; margin-left: 10px">
                    <label>Select Friend Slot #4</label>
                    <md-select class="red" ng-model="datastorage.selectedFriends[3]" ng-change="selectHeroAdd=''">
                        <md-option ng-value="" ><i>Empty</i></md-option>
                        <md-option ng-value="friend" ng-repeat="friend in friendList" ng-selected="preselect(friend, 3)">{{friend.FriendName}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" style="margin-right: 10px; margin-left: 10px">
                    <label>Select Friend Slot #5</label>
                    <md-select class="orange" ng-model="datastorage.selectedFriends[4]" ng-change="selectHeroAdd=''">
                        <md-option ng-value="" ><i>Empty</i></md-option>
                        <md-option ng-value="friend" ng-repeat="friend in friendList" ng-selected="preselect(friend, 4)">{{friend.FriendName}}</md-option>
                    </md-select>
                </md-input-container>


                    <md-switch ng-model="personalization" aria-label="Personalization" layout-align="center" ng-show="loginService.loggedIn">
                        Personalization
                        <p ng-show="personalization && personalizedHeroes.length === 0">{{ personalizedOpenDotaTest }}</p>
                        <i class="fa fa-info-circle"><md-tooltip md-direction="bottom">For this feature you need to expose your public match data.</md-tooltip></i>

                    </md-switch>
                    <md-slider-container ng-show="personalization">
                        <md-slider min="5" max="{{heroesArray.length}}" ng-model="personalizedHeroesCount" aria-label="red" id="red-slider"
                                   class="md-warn">
                        </md-slider>
                    </md-slider-container>
                    <p ng-show="personalization">Showing top {{ personalizedHeroesCount }} heroes</p>

                    <h3 ng-show="personalization">Your team</h3>
                    <table style="width:100%" ng-show="personalization">
                        <tr>
                            <td ng-style="playerIsRadiant && {'color':'red'} || {'color':'grey'}" style="text-align: center; width: 50%; font-weight: bold">Radiant</td>
                            <td ng-style="!playerIsRadiant && {'color':'green'} || {'color':'grey'}" style="text-align: center;width: 50%; font-weight: bold">Dire</td>
                        </tr>
                    </table>



                    &nbsp;</div>
<!--
                <table>
                    <tr>
                        <td ng-show="analyzerService.heroBans[0] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[0].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[0] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                        <td ng-show="analyzerService.heroBans[1] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[1].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[1] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                    </tr>
                    <tr>
                        <td ng-show="analyzerService.heroBans[2] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[2].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[2] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                        <td ng-show="analyzerService.heroBans[3] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[3].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[3] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                    </tr>
                    <tr>
                        <td ng-show="analyzerService.heroBans[4] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[4].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[4] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                        <td ng-show="analyzerService.heroBans[5] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[5].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[5] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                    </tr>
                    <tr>
                        <td ng-show="analyzerService.heroBans[6] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[6].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[6] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                        <td ng-show="analyzerService.heroBans[7] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[7].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[7] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                    </tr>
                    <tr>
                        <td ng-show="analyzerService.heroBans[8] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[8].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[8] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                        <td ng-show="analyzerService.heroBans[9] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[9].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[9] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                    </tr>
                </table>
-->



            </div>
            <div class="spanMainPageRight">


                    <div class="table-responsive">
                        <div ng-if="!swapTables">

                            <div class="row">
                                <div class="col-sm-4">
                                    <md-input-container class="md-block">
                                        <label>Search hero</label>
                                        <md-icon md-font-icon="fa fa-search"></md-icon>
                                        <input ng-model="searchHeroEnemyTeam">
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4">
                                    <md-input-container class="md-block">
                                        <label>Select hero</label>
                                        <md-select ng-model="selectedHeroEnemyTeam" ng-change="analyzerService.enemyTeamHeroPick(selectedHeroEnemyTeam); selectedHeroEnemyTeam=''">
                                            <md-option ng-value="hero.heroID" ng-repeat="hero in heroesArray | orderBy:'heroFullName'">{{hero.heroFullName}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <caption>Counter picks to radiant heroes.</caption>
                                    <thead>
                                    <tr>
                                        <td><a></a></td>
                                        <td>
                                            <a>
                                                Rank
                                                <span ng-show="sortTypeEnemyTeam == 'ranking' && !sortReverseEnemyTeam"
                                                      class="fa fa-caret-down"></span>
                                                <span ng-show="sortTypeEnemyTeam == 'ranking' && sortReverseEnemyTeam"
                                                      class="fa fa-caret-up"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#"
                                               ng-click="sortTypeEnemyTeam = 'heroFullName'; sortReverseEnemyTeam = !sortReverseEnemyTeam">
                                                Hero Name
                                                <span ng-show="sortTypeEnemyTeam == 'heroFullName' && !sortReverseEnemyTeam"
                                                      class="fa fa-caret-down"></span>
                                                <span ng-show="sortTypeEnemyTeam == 'heroFullName' && sortReverseEnemyTeam"
                                                      class="fa fa-caret-up"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#"
                                               ng-click="sortTypeEnemyTeam = 'enemyTeamWinrate'; sortReverseEnemyTeam = !sortReverseEnemyTeam">
                                                Winrate
                                                <span ng-show="sortTypeEnemyTeam == 'enemyTeamWinrate' && !sortReverseEnemyTeam"
                                                      class="fa fa-caret-down"></span>
                                                <span ng-show="sortTypeEnemyTeam == 'enemyTeamWinrate' && sortReverseEnemyTeam"
                                                      class="fa fa-caret-up"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#"
                                               ng-click="sortTypeEnemyTeam = 'enemyTeamAdvantage'; sortReverseEnemyTeam = !sortReverseEnemyTeam">
                                                Advantage
                                                <span ng-show="sortTypeEnemyTeam == 'enemyTeamAdvantage' && !sortReverseEnemyTeam"
                                                      class="fa fa-caret-down"></span>
                                                <span ng-show="sortTypeEnemyTeam == 'enemyTeamAdvantage' && sortReverseEnemyTeam"
                                                      class="fa fa-caret-up"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="hero in heroesArray | orderBy:sortTypeEnemyTeam:sortReverseEnemyTeam">
                                        <td ng-class='testngclass(hero)' ng-show="([hero.heroFullName] | filter:searchHeroEnemyTeam).length > 0" ng-hide="personalization && !playerIsRadiant && !personalizedHeroesContains(hero.heroID)"><img
                                                ng-click="enemyTeamHeroClickImage(hero.heroID)" ng-right-click="banHero(hero.heroID)" ng-src="{{ hero.heroImageURL }}"
                                                style="width: 96px; height: 58px"></td>
                                        <td ng-class='testngclass(hero)' ng-show="([hero.heroFullName] | filter:searchHeroEnemyTeam).length > 0 " ng-hide="personalization && !playerIsRadiant && !personalizedHeroesContains(hero.heroID)">{{ $index + 1 }}</td>
                                        <td ng-class='testngclass(hero)' ng-show="([hero.heroFullName] | filter:searchHeroEnemyTeam).length > 0 " ng-hide="personalization && !playerIsRadiant && !personalizedHeroesContains(hero.heroID)">{{ hero.heroFullName }}</td>
                                        <td ng-class='testngclass(hero)' ng-show="([hero.heroFullName] | filter:searchHeroEnemyTeam).length > 0 " ng-hide="personalization && !playerIsRadiant && !personalizedHeroesContains(hero.heroID)">{{ hero.enemyTeamWinrate }}%
                                        </td>
                                        <td ng-class='testngclass(hero)' ng-show="([hero.heroFullName] | filter:searchHeroEnemyTeam).length > 0 " ng-hide="personalization && !playerIsRadiant && !personalizedHeroesContains(hero.heroID)">{{ hero.enemyTeamAdvantage
                                            }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                    </div>
            </div>
        </div>
    </div>
</div>