
<div class="staticBox" id="sticky">
    <div class="gridMainPage">
        <div class="spanMainPageLeft">
            <p style="font-weight: bold;">Radiant Team Picks</p>
            <table>
                <tr>
                    <td
                        ng-show="analyzerService.yourTeamPicks[0] != null"><img
                            ng-src="{{ analyzerService.yourTeamPicks[0].heroImageURL }}"
                            class="img-responsive" max-width="500">
                    </td>
                    <td ng-show="analyzerService.yourTeamPicks[0] == null"><img
                            ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.yourTeamPicks[1] != null"><img
                            ng-src="{{ analyzerService.yourTeamPicks[1].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.yourTeamPicks[1] == null"><img
                            ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.yourTeamPicks[2] != null"><img
                            ng-src="{{ analyzerService.yourTeamPicks[2].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.yourTeamPicks[2] == null"><img
                            ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.yourTeamPicks[3] != null"><img
                            ng-src="{{ analyzerService.yourTeamPicks[3].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.yourTeamPicks[3] == null"><img
                            ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.yourTeamPicks[4] != null"><img
                            ng-src="{{ analyzerService.yourTeamPicks[4].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.yourTeamPicks[4] == null"><img
                            ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                </tr>
            </table>
        </div>
        <div class="spanMainPageMid">
            &nbsp;
        </div>
        <div class="spanMainPageRight">
            <p style="font-weight: bold;">Dire Team Picks</p>
            <table>
                <tr>
                    <td
                        ng-show="analyzerService.enemyTeamPicks[0] != null"><img
                            ng-src="{{ analyzerService.enemyTeamPicks[0].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.enemyTeamPicks[0] == null">
                        <img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.enemyTeamPicks[1] != null"><img
                            ng-src="{{ analyzerService.enemyTeamPicks[1].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.enemyTeamPicks[1] == null">
                        <img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.enemyTeamPicks[2] != null"><img
                            ng-src="{{ analyzerService.enemyTeamPicks[2].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.enemyTeamPicks[2] == null">
                        <img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.enemyTeamPicks[3] != null"><img
                            ng-src="{{ analyzerService.enemyTeamPicks[3].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.enemyTeamPicks[3] == null">
                        <img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                    <td
                        ng-show="analyzerService.enemyTeamPicks[4] != null"><img
                            ng-src="{{ analyzerService.enemyTeamPicks[4].heroImageURL }}" class="img-responsive"
                            max-width="500"></td>
                    <td ng-show="analyzerService.enemyTeamPicks[4] == null">
                        <img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                </tr>
            </table>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>
</div>
<!--
<br><br><br><br><br><br><br>
-->
<div class="spacer2">&nbsp;</div>

<div class="content" id="contentdiv" style="margin-top: 20px">
    <div class="container">
        <div layout="row">
            <div flex="20"></div>
            <div flex="60">
                <center>Overall Advantage</center>
                <uib-progress>
                    <uib-bar style="background:rgba(245, 245, 245, 1)" ng-repeat="bar in analyzerService.stacked track by $index" ng-if="bar.isPlaceholder" value="bar.value"><span>{{bar.adv}}</span></uib-bar>
                    <uib-bar id="progressValue" ng-repeat="bar in analyzerService.stacked track by $index" ng-if="!bar.isPlaceholder" value="bar.value" type="{{changeProgressbarColor(bar)}}"><span style="color: black">{{bar.adv}}</span></uib-bar>
                </uib-progress>
            </div>
            <div flex="20"></div></div>
    </div>


    <div class="gridMainPage">
        <div class="wrapperMainPages">
            <div class="spanMainPageLeft">
                <div ng-if="!swapTables">

                    <div class="row">
                        <div class="col-sm-8">
                            <md-input-container class="md-block">
                                <label>Search hero</label>
                                <md-icon md-font-icon="fa fa-search"></md-icon>
                                <input ng-model="searchHeroYourTeam">
                            </md-input-container>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped">
                            <caption>{{yourTeamTableInfo}}</caption>
                            <thead>
                            <tr>
                                <td><a></a></td>
                                <td><a>Rank</a></td>
                                <td>
                                    <a href="#"
                                       ng-click="sortTypeYourTeam = 'heroFullName'; sortReverseYourTeam = !sortReverseYourTeam">
                                        Hero Name
                                        <span ng-show="sortTypeYourTeam == 'heroFullName' && !sortReverseYourTeam"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="sortTypeYourTeam == 'heroFullName' && sortReverseYourTeam"
                                              class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortTypeYourTeam = 'yourTeamWinrate'; sortReverseYourTeam = !sortReverseYourTeam">
                                        Winrate
                                        <span ng-show="sortTypeYourTeam == 'yourTeamWinrate' && !sortReverseYourTeam"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="sortTypeYourTeam == 'yourTeamWinrate' && sortReverseYourTeam"
                                              class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#"
                                       ng-click="sortTypeYourTeam = 'yourTeamAdvantage'; sortReverseYourTeam = !sortReverseYourTeam">
                                        Advantage
                                        <span ng-show="sortTypeYourTeam == 'yourTeamAdvantage' && !sortReverseYourTeam"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="sortTypeYourTeam == 'yourTeamAdvantage' && sortReverseYourTeam"
                                              class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="hero in analyzerService.heroes | orderBy:sortTypeYourTeam:sortReverseYourTeam">
                                <td ng-class='{blackTable : analyzerService.heroAlreadyPickedOrBanned(hero.heroIndex)}' ng-show="([hero.heroFullName] | filter:searchHeroYourTeam).length > 0"><img
                                         ng-right-click="banHero(hero.heroIndex)" ng-src="{{ hero.heroImageURL }}"
                                        style="width: 96px; height: 58px"></td>
                                <td ng-class='{blackTable : analyzerService.heroAlreadyPickedOrBanned(hero.heroIndex)}' ng-show="([hero.heroFullName] | filter:searchHeroYourTeam).length > 0">{{ $index + 1 }}</td>
                                <td ng-class='{blackTable : analyzerService.heroAlreadyPickedOrBanned(hero.heroIndex)}' ng-show="([hero.heroFullName] | filter:searchHeroYourTeam).length > 0">{{ hero.heroFullName }}</td>
                                <td ng-class='{blackTable : analyzerService.heroAlreadyPickedOrBanned(hero.heroIndex)}' ng-show="([hero.heroFullName] | filter:searchHeroYourTeam).length > 0">{{ hero.yourTeamWinrate }}%</td>
                                <td ng-class='{blackTable : analyzerService.heroAlreadyPickedOrBanned(hero.heroIndex)}' ng-show="([hero.heroFullName] | filter:searchHeroYourTeam).length > 0">{{ hero.yourTeamAdvantage }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="spanMainPageMid">

                &nbsp;

                <table>
                    <tr>
                        <td ng-show="analyzerService.heroBans[0] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[0].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[0] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                        <td ng-show="analyzerService.heroBans[1] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[1].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[1] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                    </tr>
                    <tr>
                        <td ng-show="analyzerService.heroBans[2] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[2].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[2] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                        <td ng-show="analyzerService.heroBans[3] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[3].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[3] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                    </tr>
                    <tr>
                        <td ng-show="analyzerService.heroBans[4] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[4].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[4] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                        <td ng-show="analyzerService.heroBans[5] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[5].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[5] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                    </tr>
                    <tr>
                        <td ng-show="analyzerService.heroBans[6] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[6].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[6] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                        <td ng-show="analyzerService.heroBans[7] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[7].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[7] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                    </tr>
                    <tr>
                        <td ng-show="analyzerService.heroBans[8] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[8].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[8] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>

                        <td ng-show="analyzerService.heroBans[9] != null && allowBanning"><img ng-src="{{ analyzerService.heroBans[9].heroImageURL }}" class="img-responsive" max-width="500"></td>
                        <td ng-show="analyzerService.heroBans[9] == null && allowBanning"><img ng-src="assets/images/hero_unselected.jpg" class="img-responsive" max-width="500"></td>
                    </tr>
                </table>




            </div>
            <div class="spanMainPageRight">
                <div ng-if="!swapTables">

                    <div class="row">
                        <div class="col-sm-8">
                            <md-input-container class="md-block">
                                <label>Search hero</label>
                                <md-icon md-font-icon="fa fa-search"></md-icon>
                                <input ng-model="searchHeroEnemyTeam">
                            </md-input-container>
                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <caption>{{enemyTeamTableInfo}}</caption>
                            <thead>
                            <tr>
                                <td><a></a></td>
                                <td>
                                    <a>
                                        Rank
                                        <span ng-show="sortTypeEnemyTeam == 'ranking' && !sortReverseEnemyTeam"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="sortTypeEnemyTeam == 'ranking' && sortReverseEnemyTeam"
                                              class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#"
                                       ng-click="sortTypeEnemyTeam = 'heroFullName'; sortReverseEnemyTeam = !sortReverseEnemyTeam">
                                        Hero Name
                                        <span ng-show="sortTypeEnemyTeam == 'heroFullName' && !sortReverseEnemyTeam"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="sortTypeEnemyTeam == 'heroFullName' && sortReverseEnemyTeam"
                                              class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#"
                                       ng-click="sortTypeEnemyTeam = 'enemyTeamWinrate'; sortReverseEnemyTeam = !sortReverseEnemyTeam">
                                        Winrate
                                        <span ng-show="sortTypeEnemyTeam == 'enemyTeamWinrate' && !sortReverseEnemyTeam"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="sortTypeEnemyTeam == 'enemyTeamWinrate' && sortReverseEnemyTeam"
                                              class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#"
                                       ng-click="sortTypeEnemyTeam = 'enemyTeamAdvantage'; sortReverseEnemyTeam = !sortReverseEnemyTeam">
                                        Advantage
                                        <span ng-show="sortTypeEnemyTeam == 'enemyTeamAdvantage' && !sortReverseEnemyTeam"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="sortTypeEnemyTeam == 'enemyTeamAdvantage' && sortReverseEnemyTeam"
                                              class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="hero in analyzerService.heroes | orderBy:sortTypeEnemyTeam:sortReverseEnemyTeam">
                                <td ng-class='{blackTable : analyzerService.heroAlreadyPickedOrBanned(hero.heroIndex)}' ng-show="([hero.heroFullName] | filter:searchHeroEnemyTeam).length > 0"><img
                                        ng-right-click="banHero(hero.heroIndex)" ng-src="{{ hero.heroImageURL }}"
                                        style="width: 96px; height: 58px"></td>
                                <td ng-class='{blackTable : analyzerService.heroAlreadyPickedOrBanned(hero.heroIndex)}' ng-show="([hero.heroFullName] | filter:searchHeroEnemyTeam).length > 0 ">{{ $index + 1 }}</td>
                                <td ng-class='{blackTable : analyzerService.heroAlreadyPickedOrBanned(hero.heroIndex)}' ng-show="([hero.heroFullName] | filter:searchHeroEnemyTeam).length > 0 ">{{ hero.heroFullName }}</td>
                                <td ng-class='{blackTable : analyzerService.heroAlreadyPickedOrBanned(hero.heroIndex)}' ng-show="([hero.heroFullName] | filter:searchHeroEnemyTeam).length > 0 ">{{ hero.enemyTeamWinrate }}%
                                </td>
                                <td ng-class='{blackTable : analyzerService.heroAlreadyPickedOrBanned(hero.heroIndex)}' ng-show="([hero.heroFullName] | filter:searchHeroEnemyTeam).length > 0 ">{{ hero.enemyTeamAdvantage
                                    }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>