<div class="col-sm-4">

    <form layout layout-align="center" layout-padding>
        <div layout="row" flex>
            <md-input-container flex class="md-icon-float md-block md-title">
                <label>Friend Player Name</label>
                <input type="text" ng-model="friendName">
            </md-input-container>
            <div>
                <md-button md-no-ink class="md-raised md-primary" ng-click="saveFriend()">Save</md-button>
            </div>
        </div>
    </form>


    <md-list ng-cloak>
        <md-subheader class="md-no-sticky">Friendlist</md-subheader>
        <md-list-item ng-repeat="friend in friendList" ng-click="friendSelected(friend)" class="noright">
            <p>{{ friend.FriendName }}</p>
            <md-button aria-label="sf" ng-click="deleteFriend(friend.FriendName)"><i class="fa fa-trash"></i></md-button>
        </md-list-item>
    </md-list>
</div>
<div class="col-sm-4">
    <md-list>
        <md-subheader class="md-no-sticky">Heroes from {{ selectedFriend }}</md-subheader>
        <md-list-item ng-repeat="hero in heroList" ng-click="goToPerson(person.name, $event)" class="noright">
            <img alt="{{ hero.heroFullName }}" ng-src="{{ analyzerService.heroesValve[hero.HeroID].heroImageURL }}" class="md-avatar" />
            <p>{{ analyzerService.heroesValve[hero.HeroID].heroFullName }}</p>
            <md-button aria-label="sf" ng-click="deleteFriendHero(hero)"><i class="fa fa-trash"></i></md-button>
        </md-list-item>
    </md-list>
</div>
<div class="col-sm-4">
    <md-input-container class="md-block">
        <label>Select hero</label>
        <md-select ng-model="selectHeroAdd" ng-change="addHeroToFriend(selectHeroAdd); selectHeroAdd=''">
            <md-option ng-value="hero.heroID" ng-repeat="hero in analyzerService.heroes">{{hero.heroFullName}}</md-option>
        </md-select>
    </md-input-container>
</div>

